.languages{
   display: flex;
   align-items: flex-end; /*Раз маржин мы сбросили, а элементы в макете на полу, значит их нужно прибить, прибиваю*/
   margin: 0;
   padding: 0;
   text-decoration: none;
   color: #fff;
   list-style: none;
}
