/* Снова от меньшего к большему, а я верстал от болешего к меньшему 😳*/
/* Чудесный блок, для игры в крота, это когда ты молоточком стучишь по крату, он скрывается и в другом месте появляется и может сразу больше чем 1*/
/* Я уверен, если бы я сделал эту секцию через гриды, крот бы даже не появился!*/
/* Вот это вот, принятия нового, крайне тяжко происходит, хочется как умеешь по старому, по протоптанному 🚶*/
.places{
   /* margin: 92px 148px 0; */
   margin: 64px 0 0;
}

/* @media screen and (min-width: 320px){
   .places{
      margin: 64px 0 0;
   }
} */

@media screen and (min-width: 768px){
   .places{
      margin: 88px 24px 0;
   }
}

@media screen and (min-width: 1024px){
   .places{
      margin: 92px 48px 0;
   }
}

@media screen and (min-width: 1280px){
   .places{
      margin: 92px 148px 0;
   }
}