/*И тут я задумался первый раз над calc*/
/* захотел вычесть из ширины блока селектор текста и падинг картинки, залез на mdn и понял что переменные в css я объявлять не умею и я перехотел использовать calc😓*/
/* я бы сделал чтонибудь calc(расширение экрана/2 - отступ по бокам*2, но отступы по бокам постоянно разные и вся красота которую я задумывал для точек которые не задуманы по тз просто появится горизонтальный скрол и это плохо*/
.place__image{
   display: block;
   width: 320px;
   height: 320px;
   padding-right: 0;
   margin-top: 32px;
}

@media screen and (min-width: 768px){
   .place__image{
      margin-top: 48px;
      width: 340px;
      height: 340px;
   }
}

@media screen and (min-width: 1024px){
   .place__image{
      width: 440px;
      height: 440px;
   }
}

@media screen and (min-width: 1280px){
   .place__image{
      width: 460px;
      height: 460px;
   }
}