.place__text{
   font-size: 16px;
   line-height: 28px;
   max-width: 288px;
   color: #fff;
   margin: 0;
   padding: 0 16px;
}

/* И тут я забился сам с собой, смогу ли я написать такой селектор который бы делал падинг у первого текста и не делал у последнего, и чтоб это работало если текст состоит из одного текста, маза была такая, если я смогу написать то я хрюша, если я не смогу то я степашка. Я смог, я хрюша. 🐽 */
/* Между 2мя абзацами в карточке Алтай отступ 27, в остальных 26, оставим это на совести дизайнера и сделаем везде 26*/
.place__text:not(:last-child){
   padding-bottom: 25px;
}

/* @media screen and (min-width: 320px){
   .place__text{
      width: 288px;
      font-size: 16px;
      line-height: 28px;
       margin: 0;
      padding: 0 16px;
   } 

   .place__text:not(:last-child){
      padding: 0 16px 25px;
   }
}*/

@media screen and (min-width: 768px){
   .place__text{
      padding-left: 28px;
      max-width: 352px;
      padding-right: 0;
   }
   .place__text:not(:last-child){
      padding-bottom: 26px;
   }
}

@media screen and (min-width: 1024px){
   .place__text{
      font-size: 18px;
      line-height: 29px;
      max-width: 456px;
      padding-left: 32px;
   }
}

@media screen and (min-width: 1280px){
   .place__text{
      font-size: 18px;
      line-height: 29px;
      width: 484px;
      padding-left: 40px;
   }
}