.place__text{
   font-size: 18px;
   line-height: 29px;
   width: 484px;
   color: #fff;
   margin: 0;
}

/* и тут я забился сам с собой, смогу ли я написать такой селектор который бы делал падинг у первого текста и не делал у последнего, и чтоб это работало если текст состоит из одного текста, маза была такая, если я смогу написать то я хрюша, если я не смогу то я степашка. Я смог, я хрюша. 🐽 */

.place__text:not(:last-child){
   padding: 0 0 26px;
}