/* И тут я забился сам с собой, смогу ли я написать такой селектор который бы делал падинг у первого текста и не делал у последнего, и чтоб это работало если текст состоит из одного текста, маза была такая, если я смогу написать то я хрюша, если я не смогу то я степашка. Я смог, я хрюша. 🐽 */
/* Между 2мя абзацами в карточке Алтай отступ 27, в остальных 26, оставим это на совести дизайнера и сделаем везде 26*/
.place__text{
   font-size: 16px;
   line-height: 26px;
   width: 288px;
   color: #fff;
   padding: 0;
   margin: 0;
}

.place__text:first-child{
   margin-top: 32px;
}

@media screen and (min-width: 624px){
   .place__text:first-child{
      margin-top: 0;
   }
}

.place__text:not(:last-child){
   padding-bottom: 25px;
}

@media screen and (min-width: 768px){
   .place__text{
      width: 352px;
   }
}

@media screen and (min-width: 1024px){
   .place__text{
      font-size: 18px;
      line-height: 29px;
      width: 456px;
   }
}

@media screen and (min-width: 1280px){
   .place__text{
      width: 484px;
   }
}
