.lead__title{
   font-size: 40px;
   line-height: 44px;
   font-weight: 900;
   margin: auto;
   text-align: center;
   color: #fff;
   max-width: 720px; /*я сделал это чтобы, при маржин авто слово "ПО" не заползало на первую строку и было как по макету и сжималось корректно*/

}

@media screen and (min-width: 768px){
   .lead__title{
      font-size: 96px;
      line-height: 100px;
      max-width: 720px;
   }
}