.footer__copyright{
   display: block;
   font-size: 14px;
   line-height: 14px;
   margin: 48px 0 0 0;
   color: #fff;
}

@media screen and (min-width: 768px){
   .footer__copyright{
      font-size: 14px;
      line-height: 16px;
      margin: 0;
   }
}