.lead__subtitle{
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   margin: auto;
   padding-top: 16px;
   max-width: 288px;
   text-align: center;
   color: #fff;
}

@media screen and (min-width: 768px){
   .lead__subtitle{
      font-size: 30px;
      line-height: 36px;
      max-width: 640px;
      padding-top: 32px;
   }
}
