/*УРУРУРУ Я понял! Понял почему падинги а не маржены и как растопырить адаптивно!*/
/* но вот шрифты, шрифты начали портить всё, сейчас придётся раскурить как сделать адаптацию по шрифтам*/
/* я нашёл статью, я её обязательно раскурю, но не сейчас, я пока не умею переменными пользоватся в css, пока сдаю проект, а то там висит ещё не деланый второй*/
.cover__titel{
   font-size: 32px;
   line-height: 35px;
   font-weight: 900;
   width: 288px;
   position: relative;
   margin: 0 auto;
   text-align: center;
   color: #fff;
   padding-top: calc(31.25% - 75px);
   }

@media screen and (min-width: 768px){
   .cover__titel{
      font-size: 72px;
      line-height: 76px;
      width: 560px;
      padding-top: calc(31.25% - 175px);
   }
}