/* Снова от меньшего к большему, а я верстал от болешего к меньшему 😳*/
/* Чудесный блок, для игры в крота, это когда ты молоточком стучишь по кроту, он скрывается и в другом месте появляется и может сразу больше чем 1*/
/* Я уверен, если бы я сделал эту секцию через гриды, крот бы даже не появился!*/
/* Вот это вот, принятия нового, крайне тяжко происходит, хочется как умеешь по старому, по протоптанному 🚶*/
.place{
   margin: 64px auto 0; /*центрирую контент между точками перехода*/
}

@media screen and (min-width: 624px){
   .place{
      width: 624px; /*здесь были заколочены гвозди так, чтоб вертикальный скрол в браузере не уменьшал флекс контейнер, на ширину скрол бара*/
   }
}

@media screen and (min-width: 768px){
   .place{
      margin: 88px auto 0;
      width: 720px; 
   }
}

@media screen and (min-width: 1024px){
   .place{
      margin: 92px auto 0;
      width: 928px;
   }
}

@media screen and (min-width: 1280px){
   .place{
      margin: 92px auto 0;
      width: 984px;
   }
}